extends layout/layout

block content

	main
		
		include layout/header

		.sections

			style
				:stylus

					import-font(originalname, newname)

						@font-face
							font-family newname
							src url(originalname +'.eot'), url(originalname +'.eot?#iefix') format('embedded-opentype'), url(originalname +'.svg') format('svg'), url(originalname +'.woff') format('woff'), url(originalname +'.ttf') format('truetype')
							font-weight normal
							font-style normal
							
					// ADD FONTS!
					import-font('fonts/ubuntu-r-webfont','Ubuntu')
					import-font('fonts/consola-webfont','consola')
					import-font('fonts/pfplayskoolpro-regular-webfont','pfplayskoolpro')		

			script
				:coffee

					class window.Fonts

						fontFamily: 'Arial'
						minFontSize: 8
						constructor: -> $ => do @init
						init: ->
							@el = $('section.fonts')
							fontsEl = $("<div style='font-family: #{@fontFamily};''><h2>#{@fontFamily}</h2></div>")
							@el.find('.fonts').append fontsEl
							for i in [@minFontSize..@maxFontSize]
								fontsEl.append """
										<p style="font-size:#{i}px"><span>#{i}px - </span><span class="lowercase">абвгдеёжзийклмнопрстуфхцчшщъыьэюя</span></p>
										<p style="font-size:#{i}px"><span>#{i}px - </span><span class="lowercase">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span></p>
										<p style="font-size:#{i}px"><span>#{i}px - </span><span class="uppercase">абвгдеёжзийклмнопрстуфхцчшщъыьэюя</span></p>
										<p style="font-size:#{i}px"><span>#{i}px - </span><span class="uppercase">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span></p>
									"""

			script
				:coffee
					fonts = new Fonts
					fonts.fontFamily = 'pfplayskoolpro'
					fonts.minFontSize = 10
					fonts.maxFontSize = 40

					fonts = new Fonts
					fonts.fontFamily = 'Ubuntu'
					fonts.minFontSize = 10
					fonts.maxFontSize = 40

					fonts = new Fonts
					fonts.fontFamily = 'consola'
					fonts.minFontSize = 10
					fonts.maxFontSize = 40

			section.fonts

				.container
					.content
						h1 FONTS
						.fonts

		include layout/footer