extends layout/layout

block content

	section#page-render

		script.
			$(document).ready(function(){
				app.views['page-render'].controller()
			})

		.container
			.content

				h1 Mustache

				.g-row

					.clarification

						h2: span html

						p= '{{{avatar}}}'
						p= '<p>{{firstname}} {{lastname}}</p>'					
						p= '<p>{{uid}}</p>'
						p= '<p>{{age}}</p>'
						p= '<p>{{gender}}</p>'
						p= '<p>{{birthday}}</p>'
						p= '<p>{{city}}</p>'
						p= '<p>{{country}}</p>'
						
		
					.example

						h2: span render
						
						| {{{avatar}}}
						p {{firstname}} {{lastname}}
						p {{uid}}
						p {{age}}
						p {{gender}}
						p {{birthday}}
						p {{city}}
						p {{country}}